@model WebApplication1.Models.NiveauScolarite

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>êtes vous sûr de vouloir suprimer ?</h3>
<div>

    <!-- Page Content -->
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-6 ">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label> Libelle <span class="text-danger"></span></label>
                                <input class="form-control" type="text" value=" @Html.DisplayFor(model => model.libelle)" readonly>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Date de création</label> <br>
                                <input class="form-control" type="text" value=" @Html.DisplayFor(model => model.created)" readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Suprimer" class="btn btn-primary" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>

